<ion-view title="About" id="page8">
  <ion-content padding="true" class="has-header">
    <h1 id="about-heading1" style="color:#000000;">ReviewMyCode</h1>
    <div>
      <p>
        This app was <b>proudly designed and prototyped by Jean Piero Hernández Meze</b>
        to be a developer's tool which will help you improve your code snippets with
        useful reviews from peers all around the world.
      </p>

      <h4><b>Usual Scenario</b></h4>
      <p>
        You are adding some code to the new model or your project and you don't know
        whether you are implementing best practices or opening a huge security hole.
        Perhaps you just want to know if there's a way to solve a particular
        problem or if you're on the right track
      </p>
      <div class="spacer" style="width: 300px; height: 10px;"></div>
      <h5>How can <b>ReviewMyCode</b> help here?</h5>
      <div class="spacer" style="width: 300px; height: 10px;"></div>
      <ion-list>
        <ion-item class="item-text-wrap">
          <p>First, you copy&amp;paste your code snippet into the tab to upload code</p>
          <button class="button button-small icon ion-android-upload"
                  style="width: 40%" ui-sref="tabsController.uploadYourCode">
            Upload Code
          </button>
        </ion-item>
        <ion-item class="item-text-wrap">
          <p>Tap the <b>big green button</b> that looks like this</p>
          <button class="button button-small button-balanced icon ion-android-upload"
                style="width: 40%"></button>
        </ion-item>
        <ion-item class="item-text-wrap">
          <p>Then, you can either wait for someone to review it and check his answer in the My Codes tab</p>
          <button class="button button-small icon ion-code"
                  style="width: 40%" ui-sref="tabsController.myCodes">
            My Codes
          </button>
        </ion-item>
        <ion-item class="item-text-wrap">
          <p>Or, you can start reviewing some other guys' code to gain positive karma points
            which will speed up the process by prioritizing your code's review</p>
          <button class="button button-small icon ion-checkmark-circled"
                  style="width: 40%" ui-sref="tabsController.review">
            Review
          </button>
        </ion-item>
        <ion-item class="item-text-wrap">
          In other words, the more code snippets you review, the more reviews your
          own snippets will get and the faster you'll get answers to your problems
          and recommendations to improve!
        </ion-item>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 24px;"></div>
      <b>
        Reviewing code is good for both parties, people learn from your comments
        and you learn from their code (win-win ;D)
      </b>
      <div class="spacer" style="width: 300px; height: 24px;"></div>
      <p> This project is my solution to the challenge proposed by <b>CODE University</b>
        as part of their application process.
        While looking for a problem to solve, a dangerous-events-notification platform
        and a supermarket route recommendation app were circling my mind.
        </p>
      <p>
        In the first one, users could get notifications on their phones, related
        to potentially dangerous situations that were just published by other nearby
        users who were looking at the event; this one had the disadvantage of being
        already implemented by me and a friend a couple of years ago, though it
        could use some tuning and migration to new technologies.
      </p>
      <p>
        In the latter, users are given a route inside a supermarket's map to guide
        them through the market in order to make them invest the least amount of
        time on getting the stuff they wanted to buy; the problem with this one
        is that, probably, no supermarket would ever want to pay for something like
        this, they need customers to go through the entire place and see everything
        there's being sold, so the company can sell non-vital things to them. Having
        customers that enter the shop and leave in 10 minutes instead of an hour
        is not something cool for a shop.
      </p>
      <p>
        Then, just a couple of hours after my interview with Tom, I found myself
        in a situation that gave me the idea for <b>ReviewMyCode</b>.
        I was just arriving home, having dinner and getting
        ready for my nightly programming session for a customer's project using Ruby
        on Rails, with which I'm not very experienced.
      </p>
      <p> I got to a point where I needed some RoR expert to help me decide between
        two approaches to solve one of my issues. All of a sudden, I felt I had
        just found the right problem to solve (weird, isn't it?).
        I started remembering how many times I've seen friends at college and work
        asking for review or help with some code fragments, without wanting to post
        them to StackOverflow because, well, it's not like you post to StackOverflow
        any time you have some doubts, and you certainly don't want to spend much
        time following their rules and becoming famous, it would be overkill for
        something you are probably going to do 4 or 5 times per week.
      </p>
      <p>
        Instead, developers usually need someone who can give
        them a quick review, perhaps even someone who can add some small code
        examples. I am not a StackOverflow super star, but I do know it's hard to
        get your question accepted <b>(a.k.a. not removed/marked as duplicate/publicly
        frown upon)</b> and properly answered. Either way, <b>ReviewMyCode</b> helps
        in these cases where you don't want to follow such strict rules, or don't
        need that much preparation only to get a little bit of help.
      </p>
      <p>
        Bonus: the karma system allows to introduce a monetization schema
        where people can buy karma points to get their codes reviewed faster, though
        this might clash with the intention of using karma to promote collaboration.
        It's only an idea for now, I guess monetization is never easy.
      </p>
    </div>
  </ion-content>
</ion-view>