<ion-view title="Login" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="login-form9" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input3">
          <span class="input-label">Username</span>
          <input ng-model="username" type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input4">
          <span class="input-label">Password</span>
          <input ng-model="password" type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button ng-click="login(username, password)" class="button button-stable  button-block">Log in</button>
      <a ui-sref="signup" id="login-button10" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>
