<ion-view title="My Codes" cache-view="false" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list ng-show="data.codes_list.length > 0">
      <div ng-repeat="code in data.codes_list">
        <ion-item class="item-stable"
                  ng-click="toggleCode(code)"
                  ng-class="{active: isCodeShown(code)}">
          <span class="badge badge-dark">{{ code.review_set.length }}</span>
          <b>{{ code.title }}</b>
        </ion-item>

        <ion-item class="item-text-wrap balanced"
                  ng-show="isCodeShown(code)">
          <b>{{ code.body }}</b>
        </ion-item>

        <ion-item class="item-accordion item-text-wrap"
                  ng-repeat="review in code.review_set"
                  ng-show="isCodeShown(code)">
          {{ review.author.username }}: {{ review.comment }}
        </ion-item>
      </div>
    </ion-list>
    <div ng-show="data.codes_list.length == 0">
      <b>
        <p>
          This list looks kinda empty, let's go to the Upload Code tab to fill
          it up!
        </p>
        <p>
          You can start with something simple to start contributing by allowing
          others to review your codes.
        </p>
      </b>
    </div>
  </ion-content>
</ion-view>
