<ion-view title="Review" id="page2">
  <ion-nav-buttons side="right" class="has-header">
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="review-card21">
      <ion-item class="item-avatar" id="review-list-item3">
        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?f=y">
        <h2>{{ data.code.author.username }}</h2>
        <p>{{ data.code.title }}</p>
      </ion-item>
      <div class="item item-body" id="review-list-item-container2">
        <form id="review-form2" class="list">
          <label class="item item-input" id="review-textarea2">
            <textarea style="height: 30vh;" placeholder="This guy's code goes here">
              {{ data.code.body }}
            </textarea>
          </label>
        </form>
      </div>
      <div class="item item-body" id="review-list-item-container3">
        <form id="review-form7" class="list">
          <label class="item item-input" id="review-textarea5">
            <textarea ng-model="data.review" style="height: 10vh;"
                      placeholder="Your review goes here"></textarea>
          </label>
        </form>
      </div>
    </div>
    <div>
      <button ng-click="publishReview(data.code, data.review)" id="review-publishreview-button8"
              class="button button-balanced button-block icon ion-checkmark"></button>
      <button ng-click="skipReview()" id="review-skip-button"
              class="button button-assertive button-block"><b>Skip</b></button>
    </div>
  </ion-content>
</ion-view>