<ion-view title="Signup" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="signup-form" class="list">
      <ion-list id="signup-list">
        <label class="item item-input" id="signup-input-username">
          <span class="input-label">Username</span>
          <input ng-model="username" type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input-email">
          <span class="input-label">Email</span>
          <input ng-model="email" type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input-password">
          <span class="input-label">Password</span>
          <input ng-model="password" type="password" placeholder="">
        </label>
      </ion-list>
      <button ng-click="signup(username, email, password)" id="signup-button" class="button button-stable  button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>
