<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Review" icon="ion-checkmark-circled" href="#/tabs/review" id="tabsController-tab1">
      <ion-nav-view name="reviewTab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Upload Code" icon="ion-android-upload" href="#/tabs/upload" id="tabsController-tab2">
      <ion-nav-view name="uploadCodeTab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="My Codes" icon="ion-code" href="#/tabs/codes" id="tabsController-tab3">
      <ion-nav-view name="myCodesTab"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>