<ion-view title="Upload Your Code" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="uploadYourCode-form" class="list">
      <label class="item item-input" id="uploadYourCode-textinput">
        <input ng-model="data.codeTitle" type="text" placeholder="Title of your code snippet">
      </label>
      <label class="item item-input" id="uploadYourCode-textarea">
        <textarea ng-model="data.codeBody" style="height: 63vh;" placeholder="Paste your code here"></textarea>
      </label>
    </form>
    <button ng-click="publishCode(data.codeTitle, data.codeBody)"
            id="uploadYourCode-button"
            class="button button-balanced  button-block icon ion-android-upload"></button>
  </ion-content>
</ion-view>
