<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>



    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="lib/ionic/js/angular/angular-resource.min.js"></script>
    <script src="lib/ionic-toast/dist/ionic-toast.bundle.min.js"></script>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->


    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/codes_list.css" rel="stylesheet">


    <style type="text/css">
      .platform-ios .manual-ios-statusbar-padding{
        padding-top:20px;
      }
      .manual-remove-top-padding{
        padding-top:0px;
      }
      .manual-remove-top-padding .scroll{
        padding-top:0px !important;
      }
      ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
        margin-left:-10px;
        margin-right:-10px;
      }
      ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
        border-radius:0px;
        border-left:0px;
        border-right: 0px;
      }
      .show-list-numbers-and-dots ul{
        list-style-type: disc;
        padding-left:40px;
      }
      .show-list-numbers-and-dots ol{
        list-style-type: decimal;
        padding-left:40px;
      }
    </style>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/routes.js"></script>


    <script src="js/directives.js"></script>

    <script src="js/services.js"></script>


    <!-- Only required for Tab projects w/ pages in multiple tabs
    <script src="lib/ionicuirouter/ionicUIRouter.js"></script>
    -->

  </head>
  <body ng-app="app" animation="slide-left-right-ios7">
  <div>
  <ion-side-menus enable-menu-with-back-views="true" data-componentid="side-menu21">
    <ion-side-menu-content>
      <ion-nav-bar class="bar-dark">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="tap" menu-toggle="left"></button>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
      <ion-header-bar class="bar-dark">
        <div class="title">Menu</div>
      </ion-header-bar>
      <ion-content ng-controller="menuCtrl" padding="false" class="side-menu-left has-header ">
        <ion-list id="menu-list1" data-componentid="list1">
          <ion-item ng-show="isAuthenticated()" id="menu-list-item8 " ui-sref="tabsController.uploadYourCode" menu-close="" data-componentid="list-item8">Main</ion-item>
          <ion-item ng-show="!isAuthenticated()" id="menu-list-item11" ui-sref="login" menu-close="" data-componentid="list-item11">Login</ion-item>
          <ion-item ng-show="!isAuthenticated()" id="menu-list-item9" ui-sref="signup" menu-close="" data-componentid="list-item9">Sign Up</ion-item>
          <ion-item ng-show="isAuthenticated()" ng-click="logout()" id="menu-list-item11" menu-close="" data-componentid="list-item11">Logout</ion-item>
          <ion-item id="menu-list-item10" ui-sref="about" menu-close="" data-componentid="list-item10">About</ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</div>
  </body>
</html>
